<section>
  <div class="wrapper">
    <form #loginForm = "ngForm" (submit) = "onRegisterSubmit()" class="form-signin">
      <ng-flash-message></ng-flash-message>
      <h2  class="form-signin-heading">Change Password</h2>


      <div *ngIf="!strongerPassword" class="alert alert-danger">
        <div>Not stronger password.</div>
      </div>
      <input type="password" class="form-control" [(ngModel)] = "password" name="password" placeholder="Password" required=""/>
      <div *ngIf="!samePassword" class="alert alert-danger">
        <div>Passwords not equal.</div>
      </div>
      <input type="password" class="form-control" [(ngModel)] = "password_confirm" name="password_confirm" placeholder="Confirm password" required=""/>

      <p>
        Requerements:<br>
        * At least 8 characters<br>
        * One capital letter<br>
        * One number<br>
        * One special charater<br>
      </p>


      <button class="btn btn-primary btn-block" type="submit">Change Password</button>
      <a href='/home'>Home</a>
    </form>
  </div>
</section>
