<div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Bellum
                    </a>
                </li>
                <li>
                    <a href="/home">My Files</a>
                </li>
                <li>
                    <a href="/create_group">Create Group</a>
                </li>
                <li>
                    <a href="/delete_group">Delete Group</a>
                </li>
                <li ngbDropdown class="dropdown">
                  <a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown"> Groups </a>
                  <ul  ngbDropdownMenu class="dropdown-menu" role="menu">
                    <li *ngFor="let group of groups"> <a>{{group.name}}</a></li>
                  </ul>
                </li>

            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
            </button>
            <app-core></app-core>
        </div>
        <!-- /#page-content-wrapper -->


</div>
    <!-- /#wrapper -->
